.PersonalizaNavBar{
    background-color: rgb(0, 44, 139);
    color: royalblue;
    /*height: 65px;*/
    };

body{
    background-color: royalblue;
}

#CampoPesquiza{
    width: 500px; 
    text-align: center; 
    border-radius: 20px;
    border: 2px solid black;
    height: 40px;
}

#NavButton{
    border-radius: 20px;
    background-color: rgb(255, 192, 34);
    color: white;
    font-size: 17px;
    font-weight: bold;
    font-weight: 600;
    border: 2px solid black;
}
.cnt{
    text-align: center;
}